.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  gap: 10px;
}

.delay-label {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: 2px;
}

form fieldset {
  width: 200px;
}

form button {
  width: 200px;
  margin-left: 2px;
}
